@import "tailwindcss";

body {
  -webkit-font-smoothing: antialiased;
  background: #101010;
}

.custom-scroll {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #ffb936 #101010; /* For Firefox */
}

.custom-scroll::-webkit-scrollbar {
  width: 8px; /* For WebKit browsers */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Dark gray */
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: #edf2f7; /* Light gray */
}

/* Text selection style */
.selection-yellow {
  ::selection {
    background: #ffb936;
    color: #101010;
  }
  /* For Mozilla Firefox */
  ::-moz-selection {
    background: #ffb936;
    color: #101010;
  }
}
